<mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-raised-button fxFlex="100px" color="accent"><mat-icon>menu</mat-icon></button>
    <span fxFlexOffset="25px">{{title}}</span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="app-sidenav">
    <nav>
      <a mat-button
         color="accent"
         class="nav-link"
         *ngFor="let link of links"
         [routerLink]="link.path"
         routerLinkActive="active">
         <mat-icon>{{link.icon}}</mat-icon>
         {{link.label}}
      </a>
    </nav>
  </mat-sidenav>

  <div>
      <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>


