<!-- CONTACTS DETAILS -->
<mat-card>
  <mat-card-header>
    <mat-card-title>
        <span>New Contact: </span>
    </mat-card-title>
  </mat-card-header>
  <form>
    <mat-form-field>
      <mat-card-content>
        <input matInput placeholder="Name" [(ngModel)]="selectedEmployee.name" type="text" name="name">
      </mat-card-content>
    </mat-form-field>
    <mat-form-field>
      <mat-card-content>
        <input matInput placeholder="Phone" [(ngModel)]="selectedEmployee.phone" type="tel" name="phone">
      </mat-card-content>
    </mat-form-field>
    <mat-form-field>
      <mat-card-content>
        <input matInput placeholder="Email" [(ngModel)]="selectedEmployee.email" type="email" name="email">
      </mat-card-content>
    </mat-form-field>
    <mat-form-field>
      <mat-card-content>
        <input matInput placeholder="Address" [(ngModel)]="selectedEmployee.address" type="text" name="address">
      </mat-card-content>
    </mat-form-field>
    <mat-card-actions>
      <button mat-button (click)="saved.emit(selectedEmployee)">Save</button>
      <button mat-button (click)="cancelled.emit(selectedEmployee)">Cancel</button>
    </mat-card-actions>
  </form>
</mat-card>